:root {
    --darkbg:#1F2937;
    --button:#3882F6;
    --quotebg:#E5E7EB;
}

html {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: var(--darkbg);
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-content-left button {
    background-color: var(--button);
    color: #E5E7EB;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 8px;
}

.hero-content-right {
    min-width: 500px;
    min-height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 15ch;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
}

.hero-content-left p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content-left p {
    width: 25rem;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.images {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px;
}

.image-item{
    width: 150px;
    color: #1F2937;
}

.image {
    width: 150px;
    height: 150px;
    border: 2px solid var(--button);
    border-radius: 8px;
}

.quote-section {
    background-color: var(--quotebg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.quote p{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: var(--darkbg);
    display: flex;
    justify-content: center;
}

.quote h4 {
    display: flex;
    justify-content: flex-end;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cta-banner {
    width: 600px;
    background-color: var(--button);
    padding: 30px 60px;
    border-radius: 8px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.banner-left {
    color: white;
}

.banner-left span {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.banner-left p {
    font-size: 12px;
}

.banner-right {
    display: flex;
    align-items: center;
}

.cta-banner button {
    border: 1px solid white;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--button);
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 15px;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

footer {
    background-color: var(--darkbg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    color: #E5E7EB;
    margin-bottom: 0;
}
